@model IEnumerable<FoodCatalogViewModel>

<nav class="category-nav">
    <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
        <ul class="uk-navbar-nav">
            @foreach (var item in Model)
            {
                <li>
                    <a asp-controller="catalog" asp-action="index" asp-route-id="@item.Id">
                        <div class="nav-item">
                            <span class="nav-item__icon">
                                <img src="~/uploads/@item.Icon" alt="burgers" data-uk-svg>
                            </span>
                            <span class="nav-item__text">@item.Name</span>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </nav>
</nav>