<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from pro-theme.com/html/spedito/home.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 21 May 2021 00:47:25 GMT -->
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta content="Chernyh Mihail" name="author">
    <meta content="Spedito - All in one place" name="description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <link rel="shortcut icon" href="https://pro-theme.com/html/spedito/assets/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/css/uikit.min.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link id="dm-light" rel="stylesheet" href="~/css/light.css" disabled>
    <link id="dm-dark" rel="stylesheet" href="~/css/dark.css">
</head>

<body class="page-home">

    <!-- Loader-->
    <div id="page-preloader"><span class="spinner border-t_second_b border-t_prim_a"></span></div>
    <!-- Loader end-->

    <div class="page-wrapper">
        <header class="page-header">
            <div class="page-header__top">
                <div class="uk-container">
                    <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                        <div class="uk-navbar-left">
                            <button class="uk-button" type="button" data-target="#offcanvas" data-uk-toggle data-uk-icon="menu"></button>
                            <ul class="uk-navbar-nav">
                                <li><a href="https://pro-theme.com/html/spedito/index.html">Home</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-catalog-sidebar.html">Order Online</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-blog-article.html">Your Wishlist</a></li>
                            </ul>
                        </div>
                        <div class="uk-navbar-center">
                            <div class="logo">
                                <div class="logo__box"><a class="logo__link" href="https://pro-theme.com/html/spedito/index.html"> <img class="logo__img logo__img--full" src="https://pro-theme.com/html/spedito/assets/img/logo.png" alt="logo"><img class="logo__img logo__img-small" src="https://pro-theme.com/html/spedito/assets/img/logo-small.png" alt="logo"></a></div>
                            </div>
                        </div>
                        <div class="uk-navbar-right">
                            <a class="uk-button" href="https://pro-theme.com/html/spedito/page-pizza-builder.html"> <span>Make Your Pizza</span><img class="uk-margin-small-left" src="https://pro-theme.com/html/spedito/assets/img/icons/pizza.png" alt="pizza"></a>
                            <ul class="uk-navbar-nav">
                                <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Our Menu</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-blog.html">Latest News</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-contacts.html">Contact us</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="page-header__bottom">
                <div class="uk-container">
                    <div class="uk-navbar-container uk-navbar-transparent" data-uk-navbar="">
                        <div class="uk-navbar-left">
                            <div>
                                <div class="block-with-phone">
                                    <img src="https://pro-theme.com/html/spedito/assets/img/icons/delivery.svg" alt="delivery" data-uk-svg>
                                    <div> <span>For Delivery, Call us</span><a href="tel:13205448749">1-320-544-8749</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-navbar-center"></div>
                        <div class="uk-navbar-right">
                            <div class="other-links">
                                <ul class="other-links-list">
                                    <li><a href="#modal-full" data-uk-toggle><span data-uk-icon="search"></span></a></li>
                                    <li><a href="#!"><span data-uk-icon="user"></span></a></li>
                                    <li><a href="https://pro-theme.com/html/spedito/page-cart.html"><span data-uk-icon="cart"></span></a></li>
                                </ul><a class="uk-button" href="https://pro-theme.com/html/spedito/page-pizza-builder.html"> <span>Make Your Pizza</span><img class="uk-margin-small-left" src="https://pro-theme.com/html/spedito/assets/img/icons/pizza.png" alt="pizza"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        @RenderBody()

        <footer class="page-footer">
            <div class="page-footer__top">
                <div class="uk-container">
                    <div class="page-footer__logo">
                        <div class="logo"> <a class="logo__link" href="https://pro-theme.com/html/spedito/index.html"><img class="logo__img" src="https://pro-theme.com/html/spedito/assets/img/logo-white.png" alt="logo"></a></div>
                    </div>
                    <div class="page-footer__contacts">
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Our Address </div>
                            <div class="contact-item-box__value">430 Barfield Lane, Indianapolis,<br> CA 46278, USA</div>
                        </div>
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Opening Hours</div>
                            <div class="contact-item-box__value">Mon – Sat: 10:00 AM – 11:30 PM<br> Sun: 9:00 AM – 4:00 PM</div>
                        </div>
                        <div class="contact-item-box">
                            <div class="contact-item-box__title">Contact us</div>
                            <div class="contact-item-box__value">Email: <a href="mailto:food@our-example.com">food@our-example.com</a><br> Phone: <a href="tel:3205448749">320-544-8749</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer__middle">
                <div class="uk-container">
                    <ul class="uk-navbar-nav">
                        <li><a href="https://pro-theme.com/">Home</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog-sidebar.html">Our Menu</a></li>
                        <li><a href="#">Offers</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-404.html">404</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-wishlist.html">Wishlist</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-blog.html">News</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-contacts.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="page-footer__bottom">
                <div class="uk-container">
                    <div class="page-footer__social">
                        <ul class="social">
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-twitter"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-google-plus-g"></i></a></li>
                            <li class="social-item"><a class="social-link" href="#!"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="page-footer__copy"><span>© Copyrights 2020 Spedito. All rights reserved.</span><a href="#!">Terms and Conditions</a></div>
                </div>
            </div>
            <div id="offcanvas" data-uk-offcanvas="overlay: true">
                <div class="uk-offcanvas-bar">
                    <button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
                    <div class="uk-margin-top">
                        <ul class="uk-nav">
                            <li><a href="https://pro-theme.com/">Home</a></li>
                            <li><a href="https://pro-theme.com/html/spedito/page-blog-article.html">About Spedito</a></li>
                            <li><a href="https://pro-theme.com/html/spedito/page-catalog-sidebar.html">Order Online</a></li>
                            <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Our Menu</a></li>
                            <li><a href="https://pro-theme.com/html/spedito/page-blog.html">Latest News</a></li>
                            <li><a href="https://pro-theme.com/html/spedito/page-contacts.html">Contact us</a></li>
                        </ul>
                    </div>
                    <hr class="uk-margin">
                    <ul class="uk-nav uk-nav-parent-icon" data-uk-nav>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Burgers</a></li>
                        <li class="uk-parent">
                            <a href="https://pro-theme.com/html/spedito/page-catalog.html">Pizzas </a>
                            <ul class="uk-nav-sub">
                                <li><a href="https://pro-theme.com/html/spedito/page-product.html">Sriracha Beef</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-product.html">Garlic Prawn Pizza</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-product.html">Classic Pepproni</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-product.html">Pizza Margherita</a></li>
                                <li><a href="https://pro-theme.com/html/spedito/page-product.html">Hot n Spicy Pizza</a></li>
                            </ul>
                        </li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Noodles</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Sushi</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Desserts</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Salads</a></li>
                        <li><a href="https://pro-theme.com/html/spedito/page-catalog.html">Drinks</a></li>
                    </ul>
                    <hr class="uk-margin">
                    <div class="uk-margin-bottom">
                        <div class="block-with-phone">
                            <img src="https://pro-theme.com/html/spedito/assets/img/icons/delivery.svg" alt="delivery" data-uk-svg>
                            <div> <span>For Delivery, Call us</span><a href="tel:13205448749">1-320-544-8749</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-flex-top" id="callback" data-uk-modal="">
                <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">
                    <button class="uk-modal-close-default" type="button" data-uk-close=""></button>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
            <div class="uk-modal-full uk-modal" id="modal-full" data-uk-modal>
                <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" data-uk-height-viewport>
                    <button class="uk-modal-close-full" type="button" data-uk-close></button>
                    <form class="uk-search uk-search-large"><input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus></form>
                </div>
            </div><button class="mode-toggler" id="mode-toggler"><span data-uk-icon="paint-bucket"></span></button>
        </footer>
    </div>
    <script src="~/js/darkmode.min.js"></script>
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/uikit.min.js"></script>
    <script src="~/js/uikit-icons.min.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/fontawesome.all.min.js"></script>
</body>


</html>