@model IEnumerable<ProductViewModel>

    <ul class="uk-switcher">
        
        <li>
            <div data-uk-slider>
                <div class="uk-position-relative">
                    <div class="uk-slider-container uk-light">
                        <ul class="uk-slider-items uk-grid uk-grid-small uk-child-width-1-2@s uk-child-width-1-3@m uk-child-width-1-4@l">


                            @foreach (var item in Model)
                            {

                                <li class="uk-first-column" style="width:25%; display:inline">

                                    <partial name="Components/Product/_SingleProduct" model="item" />

                                </li>

                            }
                        </ul>
                    </div>
                    <div class="uk-visible@l"><a class="uk-position-top-left-out" href="#" data-uk-slidenav-previous data-uk-slider-item="previous"></a><a class="uk-position-top-right-out" href="#" data-uk-slidenav-next data-uk-slider-item="next"></a></div>
                    <div class="uk-hidden@l">
                        <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>