@model IEnumerable<SliderItemViewModel>

<div class="first-screen__slideshow">
    <div data-uk-slideshow="min-height: 400; max-height: 785; autoplay: true">
        <div class="uk-position-relative" tabindex="-1">
            <ul class="uk-slideshow-items">
                @foreach (var item in Model)
                {
                    <li>
                        <div class="uk-position-cover uk-animation-kenburns uk-animation-reverse uk-transform-origin-center-left">
                            <img src="uploads/@item.Image" alt="slider-1" data-uk-cover>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div class="slideshow-dotnav uk-position-bottom-center">
            <ul class="uk-slideshow-nav uk-dotnav uk-flex-center"></ul>
        </div>
    </div>
</div>