@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<main>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-form">
                        <h2 class="form-title" style="color: black">Sign in</h2>
                        <form method="post" asp-action="login" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Email" id="your_name" placeholder="E-mail" />
                                <span asp-validation-for="Email" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Password" id="your_pass" placeholder="Password" />
                                <span asp-validation-for="Password" style="color:red"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="RememberMe" id="remember-me" class="agree-term" />
                                <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember me</label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Sign in" />
                                <a asp-controller="register" asp-action="register" class="signup-image-link">Create an account</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>