@model ProductViewModel
        <div class="product-item">
            <div class="product-item__box">
                <div class="product-item__intro">
                    <div class="product-item__not-active">
                        <div class="product-item__media">
                            <div class="uk-inline-clip uk-transition-toggle uk-light" data-uk-lightbox="data-uk-lightbox">
                                <a href="~/uploads/@Model.Photos.FirstOrDefault()">
                                    <img src="~/uploads/@Model.Photos.FirstOrDefault()" alt="Creamy Melt Pizza" />
                                    <div class="uk-transition-fade uk-position-cover uk-overlay uk-overlay-primary"></div>
                                    <div class="uk-position-center"><span class="uk-transition-fade" data-uk-icon="icon: search;"></span></div>
                                </a>
                            </div>
                            <div class="product-item__whish"><i class="fas fa-heart"></i></div>
                            <div class="product-item__type spicy"></div>
                            <div class="product-item__tooltip" data-uk-tooltip="title: spicy pizza; pos: bottom-right"><i class="fas fa-info-circle"></i></div>
                        </div>
                        <div class="product-item__title"><a asp-controller="product" asp-action="index" asp-route-id="@Model.Id">@Model.Name</a></div>
                        <div class="product-item__desc">@Model.Description</div>
                        <div class="product-item__select">
                            <div class="select-box select-box--thickness">
                                <ul>
                                    <li><label><input type="radio" name="thickness-1" checked="checked" /><span>Thin</span></label></li>
                                    <li><label><input type="radio" name="thickness-1" /><span>Normal</span></label></li>
                                    <li><label><input type="radio" name="thickness-1" /><span>Thick</span></label></li>
                                </ul>
                            </div>
                            <div class="select-box select-box--size">
                                <ul>
                                    <li><label><input type="radio" name="size-1" /><span>7 “</span></label></li>
                                    <li><label><input type="radio" name="size-1" /><span>9 “</span></label></li>
                                    <li><label><input type="radio" name="size-1" checked="checked" /><span>11 “</span></label></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-item__info">
                    <div class="product-item__price"> <span>Price: </span><span class="value">$@Model.Price</span></div>
                    <div class="product-item__addcart"> <a class="uk-button uk-button-default" asp-controller="products" asp-action="index" asp-route-id="@Model.Id">Add to Cart<span data-uk-icon="cart"></span></a></div>
                </div>
            </div>
        </div>

      