@model ProductViewModel
        <div class="product-item">
            <div class="product-item__box">
                <div class="product-item__intro">
                    <div class="product-item__not-active">
                        <div class="product-item__media">
                            <div class="uk-inline-clip uk-transition-toggle uk-light" data-uk-lightbox="data-uk-lightbox">
                                    <img src="https://res.cloudinary.com/dkuqiqad9/v1/@Model.Photos.FirstOrDefault()" alt="Creamy Melt Pizza" />
                            </div>
                        </div>
                        <div class="product-item__title"><a asp-controller="products" asp-action="index" asp-route-id="@Model.Id">@Model.Name</a></div>
                        <div class="product-item__desc">@Model.Description</div>
                    </div>
                </div>
                <div class="product-item__info">
                    <div class="product-item__price"> <span>Price: </span><span class="value">$@Model.Price</span></div>
                    <div class="product-item__addcart"> <a class="uk-button uk-button-default" asp-controller="products" asp-action="index" asp-route-id="@Model.Id">Add to Cart<span data-uk-icon="cart"></span></a></div>
                </div>
            </div>
        </div>

      